# === OS ===
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Env
venv/
env/
.venv/
ENV/

# Enviroment files
.env
*.env

# === IDEs ===
.idea/
.vscode/
*.iml

# === Logs ===
*.log
*.tmp
*.bak

# === Docker ===
*.pid
*.seed
*.pid.lock

# === Otros ===
# Archivos de configuración de sistema o backup
*~